global
	maxconn 4096
	tune.ssl.default-dh-param 2048

defaults
	mode	http
	option  forwardfor
	option  http-server-close
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	timeout http-request 1000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

frontend www-http
	bind *:80
	mode http

	acl letsencrypt-acl path_beg /.well-known/acme-challenge/
	use_backend letsencrypt-backend if letsencrypt-acl

	redirect scheme https code 301 if !{ ssl_fc }
	http-request set-header X-Forwarded-Proto http

	default_backend www-backend

frontend www-https
	bind 147.182.195.185:443 ssl crt /etc/ssl/www.schub.me/www.schub.me.pem
	http-request set-header X-Forwarded-Proto https

	default_backend www-backend

backend www-backend
	mode http
	option forwardfor
	balance roundrobin
	server SCHub-app-01 10.124.0.4:80 weight 60 check
	server SCHub-web-01 10.124.0.3:80 weight 40 check

backend letsencrypt-backend
	server letsencrypt 127.0.0.1:8888
